[Unit]
Description=Seagate Propeller IDM Lock Manager
After=syslog.target

[Service]
Type=forking
ExecStartPre=/sbin/modprobe sg
ExecStart=/usr/sbin/seagate_ilm -l 0 -L 4 -E 4 -S 4
SendSIGKILL=no

[Install]
WantedBy=multi-user.target

